<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FootballSimulationApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <FootballSimulationApp.Properties.Settings>
            <setting name="TargetElapsedTime" serializeAs="String">
                <value>00:00:00.0166666</value>
            </setting>
            <setting name="MaxElapsedTime" serializeAs="String">
                <value>00:00:00.0833330</value>
            </setting>
            <setting name="PitchColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="LineColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BallColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Team1Color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Team2Color" serializeAs="String">
                <value>Blue</value>
            </setting>
        </FootballSimulationApp.Properties.Settings>
    </userSettings>
</configuration>
