<?xml version="1.0" encoding="utf-8"?>

<Settings>
  <TargetFramesPerSecond>60</TargetFramesPerSecond>
  <MaxFrameLag>5</MaxFrameLag>
  <FontSize>6</FontSize>
  <PitchColor>Green</PitchColor>
  <LineColor>White</LineColor>
  <BallColor>Black</BallColor>
  <TeamColors>
    <value>Red</value>
    <value>Blue</value>
  </TeamColors>
</Settings>